<!DOCTYPE html>
<html lang="en">

    <!--
        Author: Brett Larson
        Date: 10/31/2020

        Description:
            The index.html webpage acts as the homepage for the credit card processing application
    -->

    <head>
        <meta charset="UTF-8">
        <title>Project Homepage</title>
    </head>
    <body>
        <p>This is the credit card processing application homepage.</p>
        <p>Click the Continue button below to go to the credit card information entry page.</p>
        <input id="button" type="button" value="Go To Payment Page" onclick="window.location.href = 'payment'" />
        <br>
        <p>Created by: Brett Larson</p>
    </body>

</html>



